#single_content {
	clear		: both;
	margin		: 0 auto;
	padding-top	: 90px; 
	width		: 940px;
	font-size	: 14px;
}

#single_content article {
	float		: right;
	margin-left	: 5%;
	width		: 75%;
	font-size	: 22px;
}

#single_content .author {
	float		: left;
	padding-top	: 100px; 
	width		: 20%;
}

	#single_content .author figure {
		-webkit-border-radius	: 100em;
		-moz-border-radius		: 100em;
		border-radius			: 100em;
		overflow				: hidden;
		width					: 70px;
		height					: 70px;
	}

		#single_content .author figure img {
			width					: 70px;
			height					: 70px;
		}